:host {
    display: flex;
    flex-direction: row;
    justify-content: stretch;

    width: 100vw;
    height: 100vh;

    background: linear-gradient(90deg, blue, purple);
}


form {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 400px;

    
    background-image: url(https://aws1.discourse-cdn.com/elastic/original/3X/9/0/90df22ab443662d632838fd82f6ea38b2cba025a.png); 
    background-size: cover;
    // background: linear-gradient(90deg, rgb(160, 160, 255), rgb(255, 138, 255));
}
