<div class="barra">
    <div class="logo"></div>
    <span style="flex:auto"></span>
    <span>
        <strong>bem vindo</strong>{{service.usuarioAcesso?.firstName}} {{service.usuarioAcesso?.lastName}}
    </span>
</div>
<div class="container-2">
    <div class="nav">
        <ng-container *ngFor="let nav of nav">
            <button [routerLink]="[nav.path]">
                <mat-icon>{{ nav.icon}}</mat-icon>
                {{ nav.name}}
            </button>
        </ng-container>
    </div>
    <div class="container-2">
        <router-outlet></router-outlet>
    </div>
</div>